h1{
        text-align: center;
        color:darkblue;
    }
    
    #img{
        float: right;
        padding: 20px 120px 20px 20px;
    }
    
    table{
        display: block;
        color:blueviolet;
        align-content: center;
        

    }
    #container{
        margin: opx;
       
        border: 5px;

    }
    
    #header{
        width:100%;
        height: 20%;
        background-color:gainsboro
    }
    #left{
        float:left;
        width:20%;
        height:60%;
        background-color:gray;
        color:wheat;
        font-size: 22px;


    }
    #right{
        float:right;
        width:20%;
        height:60%;
        background-color:gray;
        color:wheat;
        font-size: 22px;
        

    }
    #content{
        width:80%;
        height: 60%;
        background-color:azure
        
        
    }
    #footer{
        background-color:gainsboro;
        height: 20%;
    }
    